---
services:
  db:
    image: "postgres:latest"
    container_name: "db"
    hostname: "db"
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --locale=C"
      TZ: "Asia/Tokyo"
    ports:
      - "65432:5432"
    volumes:
      - "./sql:/docker-entrypoint-initdb.d"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: "10s"
      timeout: "5s"
      retries: 3
    restart: "on-failure"
