<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.brightroom.example.FeatureManagementMapper">

    <select id="check" resultType="java.lang.Boolean">
        select enabled
        from feature_management
        where api = #{feature};
    </select>

</mapper>